@font-face {
  font-family: 'LatoBlack';
  src: url('../fonts/latoBlack.woff2') format('woff2'),
  url('../fonts/latoBlack.woff') format('woff'),
  url('../fonts/latoBlack.svg') format('svg');
}

@font-face {
  font-family: 'LatoBold';
  src: url('../fonts/latoBold.woff2') format('woff2'),
  url('../fonts/latoBold.woff') format('woff'),
  url('../fonts/latoBold.svg') format('svg');
}

@font-face {
  font-family: 'LatoItalic';
  src: url('../fonts/latoItalic.woff2') format('woff2'),
  url('../fonts/latoItalic.woff') format('woff'),
  url('../fonts/latoItalic.svg') format('svg');
}

@font-face {
  font-family: 'LatoLightItalic';
  src: url('../fonts/latoLightItalic.woff2') format('woff2'),
  url('../fonts/latoLightItalic.woff') format('woff'),
  url('../fonts/latoLightItalic.svg') format('svg');
}

@font-face {
  font-family: 'LatoRegular';
  src: url('../fonts/latoRegular.woff2') format('woff2'),
  url('../fonts/latoRegular.woff') format('woff'),
  url('../fonts/latoRegular.svg') format('svg');
}
