//fonts

$LatoBlack: "LatoBlack", sans-serif;
$LatoBold: "LatoBold", sans-serif;
$LatoItalic: "LatoItalic", sans-serif;
$LatoLightItalic: "LatoLightItalic", sans-serif;
$LatoRegular: "LatoRegular", sans-serif;

// font-awesome

$fa-font-path:"../fonts";

// color

$red : #ce0000;
$grey : #858585;






